<!doctype html>
<html lang="en">
<head>
  <meta charset="utf8">
  <title>Calabash Drishyam</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
    <script src="calabash_inspector.js"></script>
</head>
<body>
    
    <div id="header">

    <div id="logo"><span class="white">Calabash</span><span class="red">Drishyam</span></div>     
    </div>

    <%= yield %>
    
    <!-- footer starts here -->
    <div class="footer">
        <p> 
            Version 0.1.0.
          
        </p>
    </div>

</body>
</html>

